<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Конвертер валют</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="page">
    <div class="form">
        <h1>Конвертер валют</h1>
        <form>
            <input class="login-input" type="text" placeholder="Логин"/>
            <input class="login-input" type="password" placeholder="Пароль"/>
            <button>Войти</button>
        </form>
    </div>
</div>
</body>
</html>